@media (min-width: 250px) {
  .point-reward-section div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 300px) {
  .point-reward-section div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 500px) {
  .point-reward-section div {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* menubar Toggle  */
@media (max-width: 1100px) {
  .link_container {
    background-color: #222;
    transform: translateY(-130%);
    transition: ease-in-out 0.3s;
    width: 100%;
    top: 7%;
    left: 0%;
    right: 100%;
    padding: 0.5rem;
    position: fixed;
    z-index: -10;
  }
  .link_container a {
    margin: 0.5rem 0 !important;
    display: block;
    margin: 1rem;
    text-align: start;
    align-items: center;
    padding: 1rem;
    color: #ff9a00 !important;
    font-family: "Ubuntu", sans-serif;
    border: 1px solid #ff9a00 !important;
    width: 100% !important;
    border-radius: 0.2rem !important;
  }
  .link_container a i {
    margin: 0 0.5rem;
  }
  /* hover  */
  .link_container a:hover {
    /* background-color: #f7ca62a6; */
    transition: ease-in-out 0.3s;
  }

  .link_container.show {
    transform: translateY(0%);
  }
}
/* nav-link media  */
@media (max-width: 650px) {
  .nav-links div {
    display: none;
    border: 1px solid #ff9a00;
    width: 20%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
  .menuu-bar {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 4%;
    z-index: 9997;
  }
  .menu-bar {
    display: block;
    position: fixed;
    top: 2.5%;
  }
}
