@media (min-width: 250px) {
  .point-reward-section div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 300px) {
  .point-reward-section div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 500px) {
  .point-reward-section div {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .link_container div {
    width: 30%;
    display: none;
  }
}

/* below 300  */
@media (max-width: 300px) {
  .link_container div {
    display: none;
  }
}
@media (max-width: 300px) {
  .link_container div a i {
    display: none;
  }
}
/* below 500 */
@media (max-width: 500px) {
  .link_container div {
    display: none;
  }
}
/* above 500  */

@media (min-width: 501px) {
  .link_container div {
    width: 21%;
    /* height: 1.5rem; */
  }

  .link_container div a,
  i {
    font-size: 10px;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
}
/* menubar Toggle  */
@media (max-width: 649px) {
  .link_container {
    background-color: #222;
    transform: translateX(-40%);
    transition: ease-in-out 0.3s;
    top: 10%;
    left: 0;
    padding: 0.5rem;
    position: fixed;
  }
  .link_container.show {
    transform: translateX(0);
  }
  #link_container div {
    display: block;
    position: relative;
    width: 100%;
    margin: 0.3rem 0;
  }
}
/* nav-link media  */
@media (max-width: 650px) {
  .nav-links div {
    display: none;
    border: 1px solid #ff9a00;
    width: 20%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
  .menuu-bar {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 4%;
  }
  .menu-bar {
    display: block;
  }
}
@media (min-width: 300px) {
  .point-reward-section div h3 {
    font-size: 1.1rem !important;
  }
}
