@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #000000;
  --main-color: #ff9900eb;
  --secondary-color: #fba92e;
  --p-color: rgb(181, 178, 178);
  --h1-color: #ffff;
  --font-family: "Ubuntu", sans-serif;
  --font-weight: bold;
  --fw: 500;
  --black-color: #000000;
  --white-color: #ffff;
  --para-color: rgb(181, 178, 178);
  --border-color: rgba(49, 49, 49, 0.808);
}
body {
  background-color: var(--bg-color) !important;
  position: relative !important;
  padding: 1.5rem !important;
}
/* nav_section  css start */
.hero-container {
  padding: 1rem 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100000;
  /* background: gray; */
  /* border: 1px solid red; */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* background: green; */
}
.hero h3 {
  margin: 0 0.7rem;
  color: var(--white-color);
  font-family: var(--font-family);
  text-align: center;
}
.hero-container .link_container a {
  width: 100px;
  border: 1px solid var(--main-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--main-color);
  margin: 0 0.1rem;
  background-color: var(--bg-color);
  font-weight: var(--font-weight);
}
.hero-container .link_container a,
i {
  margin: 0 0.2rem;
}
.link_container a:hover {
  background-color: #df8703db;
  transition: 0.3s ease-in-out;
  color: var(--black-color);
  box-shadow: 1px 1px 15px var(--secondary-color);

  /* box-shadow: 5px 5px 5px #df8703db; */
}

.menu-bar i {
  cursor: pointer !important;
}
.menu-bar {
  display: none;
}
.menuu-bar {
  display: none;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid var(--white-color); */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.3rem 1.5rem;
  background-color: var(--bg-color);
}
.nav-links div {
  border: 1px solid #ff9a00;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.nav-links a {
  color: var(--white-color);
  text-decoration: none;
  padding: 0.2rem;
  font-family: var(--font-family);
}
/* nav_section css end  */
.promotion {
  margin-top: 5%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  /* background: red; */
  /* padding: 1rem; */
}
/* promotion carousel secton start  */
.carousel-container {
  padding: 0.5rem;
}
/* promotion carousel secton end  */
/* gallery start  */
.gallery-title {
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1.8rem;
  margin: 1rem 0;
  color: var(--main-color);
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery {
  padding: 1rem;
  width: 100%;
  margin: 2rem 0;
  /* background: greenyellow; */
}

.gallery img {
  border-radius: 0.5rem;
  cursor: pointer;
}

.image-container:hover img {
  transform: translateY(-10%);
  transition: all 0.3s;
}
/* gallery end  */
/* welcome 47 group start  */
.about h1 {
  margin: 2rem 0;
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1.8rem;
  color: var(--main-color);
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.welcome-section {
  width: 100%;
  background-color: var(--bg-color);
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.welcome-section div {
  /* background-color: greenyellow; */
  flex: 1 1 400px;
  padding: 0.5rem;
}
.welcome-section .image:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.welcome-section .info {
  font-family: var(--font-family);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.welcome-section .info h2 {
  font-family: var(--font-family);
  font-size: 1.7rem;
  color: var(--main-color);
  padding: 1rem;
  text-transform: capitalize;
  font-weight: var(--font-weight);
  word-spacing: 0.2rem;
}
.welcome-section .info p {
  margin: 1.3rem 0;
  padding: 0.5rem;
  word-spacing: 0.2rem;
  color: var(--para-color);
}
.welcome-section span {
  width: 100%;
  font-weight: var(--font-weight);
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  flex: 1 1 200px;
}
.welcome-section span p {
  font-size: 1.2rem;
  font-family: var(--font-family);
  color: var(--para-color);
  /* background-color: greenyellow; */
}
.welcome-section span p::first-letter {
  color: var(--main-color);
  font-size: 2rem;
}
/* welcome 47 group end  */
/* our outlet section  */
.our-outlet div h4 {
  color: var(--main-color);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem 0;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* point-reward-section start */
.point-reward-section {
  width: 100%;
  /* min-height: 100vh; */
  /* background-color: var(--bg-color); */
  /* background-color: #ffd93d; */
  padding: 1rem 0.3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.special {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  overflow: hidden;
}
/* call actin start  */
.call_action {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
.call_action a {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}
.call_action .order {
  background-color: var(--main-color);
  color: var(--black-color);
}
.call_action .order:hover {
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 15px var(--secondary-color);
}
.call_action .viber:hover {
  background-color: var(--main-color);
  color: var(--black-color);
  transition: all 0.3s;
  box-shadow: 1px 1px 15px var(--secondary-color);
}
.view_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  /* background-color: burlywood; */
  padding: 1.5rem 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  margin: 1rem 0;
}
.view_menu a {
  padding: 1.2rem 1rem;
  flex: 1 1 200px;
  border: 1px solid var(--main-color);
  border-radius: 0.2rem;
  text-align: center;
  font-weight: var(--font-weight);
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 1rem;
}
.view_menu a:hover {
  background-color: #df8703db;
  color: var(--black-color);
  box-shadow: 1px 1px 15px var(--secondary-color);
  transition: all 0.3s ease;
}
.view_menu a:hover i {
  /* background-color: #ff9a00; */
  transition: 0.3s;
  color: var(--black-color) !important;
}
.special:hover img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.point-reward-section .special {
  /* background: rgb(167, 167, 94); */
  flex: 0 1 350px;
  border: 1px solid rgba(49, 49, 49, 0.808);
}
.point-reward-section .special h1 {
  font-size: 1.3rem;
  margin: 0.7rem 0;
}
.point-reward-section .special p {
  font-size: 0.9rem;
}
.special img {
  object-fit: cover;
}

/* Our service start  */
.our_service {
  width: 100%;
}
.our_service h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--main-color);
  text-align: center;
  align-items: center;
  font-size: 1.8rem;
  margin: 2.5rem 0;
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.service-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.service-options div {
  flex: 0 1 270px;
  border-radius: 0.3rem;
  border: 1px solid var(--main-color);
  text-align: start;
  padding: 0.8rem;
  background-color: var(--bg-color);
}
.service-options div:hover {
  box-shadow: 1px 1px 15px #ff9900eb;
  border-color: rgba(250, 194, 52, 0.5);
}
.rating_stars {
  display: flex;
  padding: 1rem 0;
  margin: 1rem 0;
}
.service-options div h4 {
  color: var(--main-color);
  margin: 1rem 0;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}
.service-options div p {
  color: var(--para-color);
  font-family: var(--font-family);
}
/* Our service end  */
/* Dynamic Value  start*/
.dynamic-value {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 0;
  /* padding: 0.2rem 0; */
  /* background: red; */
}

.dynamic-value strong {
  font-size: 2.2rem;
  color: #fff;
  font-family: var(--font-family);
}
.dynamic-value strong span {
  color: var(--main-color);
  letter-spacing: 0.2rem;
}
.dynamic-value div {
  flex: 1 1 500px;
  padding: 0.5rem;
}
.dynamic-value div h1 {
  text-align: start;
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--font-family);
  color: rgb(176, 175, 175);
}
.dynamic-value div h1::first-letter {
  color: #ff9a00;
}
.dynamic-value div p {
  text-align: start;
  width: 100%;
  font-family: var(--font-family);
  color: rgb(176, 175, 175);
}
/* Dynamic Value  end*/
/* BOD start  */
.bod-title {
  width: 100%;
}
.bod-title h1 {
  width: 100%;
  padding: 1rem 0;
  align-items: center;
  text-align: center;
  color: var(--main-color);
  font-size: 1.8rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bod-title p {
  padding: 1rem;
  align-items: center;
  text-align: start;
  color: var(--para-color);
  font-size: 1rem;
  font-family: var(--font-family);
}
.bod {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
.bod span {
  flex: 0 1 280px;
  padding: 1rem;
  position: relative;
}
.bod span img {
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  border-color: var(--main-color);
  position: relative;
  /* filter: drop-shadow(1px 1px 5px rgba(252, 188, 25, 0.748)); */
  /* box-shadow: 1px 1px 15px 5px rgba(251, 191, 36, 0.5); */
}
.bod span h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1.2rem;
  margin-top: 0.3rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 2%;
  right: 5%;
}
/* Hover effect  */
.bod span:hover img {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
/* BOD End  */

/* <!-- Recognition and Awards start */
.recognition-section h1 {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.8rem;
  color: var(--main-color);
  margin: 1rem 0;
  font-weight: var(--font-weight);
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.award {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* background-color: green; */
  gap: 1.5rem;
}
.award span {
  flex: 0 1 350px;
  /* background-color: blue; */
  padding: 1rem;
}
.award span img {
  border-radius: 0.5rem;
}
.award span h4 {
  color: #ebeaea;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}
.award span p {
  color: var(--para-color);
  font-family: var(--font-family);
}

.award span:hover img {
  transform: rotate(4deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  /* box-shadow: 10px 15px 15px white; */
}
/* <!-- Recognition and Awards  end*/

/* our team group  */
.our-team-group {
  font-family: var(--font-family);
  color: var(--para-color);
  margin: 1rem;
  padding: 1.5rem;
  font-size: 1rem;
  /* background: greenyellow; */
}
/* Our team start  */
.ourteam_title {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--main-color);
  font-size: 1.8rem;
  text-align: center;
  margin: 0.5rem 0;
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.our_team {
  padding: 0 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.our_team div {
  flex: 1 1 250px;
  cursor: pointer;
}
.our_team div img {
  border-radius: 0.5rem;
}
.our_team div:hover img {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
/* our team end  */
/* Review Section  */
.review-h1 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1.8rem;
  color: var(--main-color);
  margin: 1.5rem 0;
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.review_card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--main-color);
  text-align: start;
}

.review_card div {
  flex: 0 1 350px;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.review_card div:hover {
  box-shadow: 1px 1px 15px var(--secondary-color);
}
.review_card h4 {
  font-family: var(--font-family);
}
.review_card p {
  font-family: var(--font-family);
  color: var(--para-color);
  margin: 0.5rem;
}
.sub-h {
  display: flex;
  align-items: center;
  border: none;
  margin: 1rem 0;
}
/* map start  */
.map_heading {
  width: 100%;
  font-family: var(--font-family);
  color: var(--main-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-weight);
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.map {
  /* width: 100%; */
  /* background: gray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.map div {
  flex: 0 1 80px;
  padding: 1rem;
  /* background-color: red; */
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}
.map div:hover {
  box-shadow: 1px 1px 15px var(--secondary-color);
}

.map h3 {
  font-family: var(--font-family);
  font-size: 1.1rem;
}
.map_info {
  width: 100%;
  /* background: green; */
  padding: 0.5rem !important;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  margin: 1rem 0;
}
.map_info img {
  width: 32px;
}

/* map end  */
/* video start */
.vid {
  width: 100%;
}
.vid h1 {
  text-align: center;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1.8rem;
  margin: 1.5rem 0;
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.video-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  /* background: greenyellow; */
  gap: 3rem;
}
.video-section span {
  flex: 0 1 380px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(49, 49, 49, 0.808);
  /* background: blue; */
}
.video-section span video {
  border-radius: 0.5rem;
}
/* video end  */
/* Contact start  */
.contact {
  /* background-color: rgb(100, 107, 89); */
  width: 100%;
  /* height: 100vh; */
}
.contact_title {
  text-align: center;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1.8rem;
  margin: 0.5rem 0;
  text-shadow: 1px 1px 15px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-div {
  /* background: var(--secondary-color); */
  flex: 0 1 450px;
  padding: 1.5rem 1.8rem;
  border: 0px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 15px #ff9900eb;
}
.form-div img {
  margin: 1.2rem 0;
  filter: drop-shadow(1px 1px 5px #ff9900eb);
}
form input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid var(--border-color);
  margin: 1rem 0;
  font-family: var(--font-family);
}
form input::placeholder {
  color: var(--p-color);
}
form textarea {
  font-family: var(--font-family);
  padding: 0.8rem;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.2rem;
  margin: 1rem 0;
}
form textarea::placeholder {
  color: var(--p-color);
}
form input,
textarea {
  background-color: rgb(255, 255, 255);
}
form input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--main-color);
  box-shadow: 1px 1px 15px 5px rgba(251, 191, 36, 0.5);
}
.form-div .form_button {
  width: 100%;
  border-radius: 0.2rem;
  color: var(--black-color);
  padding: 0.8rem;
  margin: 1rem 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  cursor: pointer;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
}
.form_button:hover {
  background: var(--main-color);
  transition: all ease 0.3s;
  box-shadow: 1px 1px 15px 5px rgba(251, 191, 36, 0.5);
}
/* footer  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}
.footer div {
  flex: 1 1 120px;
  margin: 0 5rem;
  /* background-color: yellow; */
  padding: 1.5rem;
}

.branch_links ul li {
  color: #c8c8c8;
  font-family: var(--font-family);
  margin: 0.1rem 0;
}
.branch_links ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.branch_links ul span {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 0.5rem;
  width: 100%;
  text-align: start;
  /* background-color: #fff; */
}
.branch_links ul li a {
  letter-spacing: 0.1rem;
}
.branch_links ul li::first-letter {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: var(--font-weight);
}
.copy-right {
  width: 100%;
  text-align: center;
  /* background: gray; */
  padding: 1rem 0;
  font-family: var(--font-family);
  color: rgba(149, 146, 146, 0.808);
}
.copy-right sup {
  font-size: 1.5rem;
}
