@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #222;
  --main-color: #ff9a00;
  --secondary-color: #ffd93d;
  --p-color: #fff;
  --h1-color: #ffff;
  --font-family: "Ubuntu", sans-serif;
  --font-weight: bold;
  --fw: 500;
  --black-color: #2222;
  --white-color: #ffff;
}
body {
  background-color: var(--bg-color) !important;
  position: relative !important;
  padding: 1.5rem !important;
}
/* nav_section  css start */
.hero-container {
  padding: 1rem 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100000;
  /* background: gray; */
  /* border: 1px solid red; */
}
.hero {
  display: flex;
  align-items: center;
  width: 28px;
  /* background: green; */
}
.hero h3 {
  margin: 0 0.7rem;
  color: var(--white-color);
  font-family: var(--font-family);
  text-align: center;
}
.hero-container .link_container a {
  width: 100px;
  border: 1px solid var(--main-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--white-color);
  margin: 0 0.2rem;
  background-color: var(--bg-color);
}
.hero-container .link_container a,
i {
  margin: 0 0.2rem;
}
.menu-bar i {
  cursor: pointer !important;
}
.menu-bar {
  display: none;
}
.menuu-bar {
  display: none;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid var(--white-color); */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.3rem 1.5rem;
  background-color: var(--bg-color);
}
.nav-links div {
  border: 1px solid #ff9a00;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.nav-links a {
  color: var(--white-color);
  text-decoration: none;
  padding: 0.2rem;
  font-family: var(--font-family);
}
/* nav_section css end  */
.promotion {
  margin-top: 5%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  /* background: red; */
  /* padding: 1rem; */
}
/* promotion carousel secton start  */
.carousel-container {
  padding: 0.5rem;
}
/* promotion carousel secton end  */

/* point-reward-section start */
.point-reward-section {
  width: 100%;
  /* min-height: 100vh; */
  background-color: var(--bg-color);
  /* background-color: #ffd93d; */
  padding: 1rem 0.3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.special {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1.2rem;
}
.point-reward-section .special {
  /* background: rgb(167, 167, 94); */
  flex: 1 1 300px;
}
.point-reward-section .special h1 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.special img {
  object-fit: cover;
}
/* point-reward-section end  */
/* Dynamic Value  start*/
.dynamic-value {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* padding: 0.2rem 0; */
  /* background: red; */
}

.dynamic-value strong {
  font-size: 2.2rem;
  color: #fff;
  font-family: var(--font-family);
}
.dynamic-value strong span {
  color: var(--main-color);
  letter-spacing: 0.2rem;
}
.dynamic-value div {
  flex: 1 1 500px;
  padding: 1rem;
}
.dynamic-value div h1 {
  text-align: start;
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--font-family);
  color: rgb(176, 175, 175);
}
.dynamic-value div h1::first-letter {
  color: #ff9a00;
}
.dynamic-value div p {
  text-align: start;
  width: 100%;
  font-family: var(--font-family);
  color: rgb(176, 175, 175);
}
/* Dynamic Value  end*/
/* BOD start  */
.bod-title {
  width: 100%;
}
.bod-title h1 {
  width: 100%;
  padding: 1rem 0;
  align-items: center;
  text-align: center;
  color: var(--main-color);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 1rem;
}
.bod {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
.bod span {
  flex: 0 1 250px;
  position: relative;
}
.bod span h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 1.3rem;
  margin-top: 0.3rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
/* Hover effect  */
.bod span:hover img {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
/* BOD End  */
