@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #000000;
  --main-color: #ff9a00;
  --secondary-color: #ffd93d;
  --p-color: #fff;
  --h1-color: #ffff;
  --font-family: "Ubuntu", sans-serif;
  --font-weight: bold;
  --fw: 500;
  --black-color: #000000;
  --white-color: #ffff;
  --para-color: rgb(181, 178, 178);
  --border-color: rgba(49, 49, 49, 0.808);
}
body {
  padding: 1rem 0.5rem;
  background-color: rgb(76, 76, 76);
}
strong {
  display: block;
  color: var(--main-color);
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: 2rem;
  margin: 1rem 0;
}
/* branch_menu start */
.branch_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.branch_menu div {
  flex: 0 1 150px;
  padding: 1rem;
  border: 1px solid #ff9a00;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}
.branch_menu div a {
  color: var(--main-color);
}
/* branch_menu end */
